* {
    font-family: 'Times New Roman', serif;
}

.weather-top {
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
}

.weather-top-name {
    color: #728288;
    font-size: 32px;
    margin: 0;
}

.main {
    margin: 2%;
}

.update-btn {
    background-color: #cad3d8;
    color: #728288;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}